<div class="container" id="container__<%= originalName %>">
    <div class="image__container">
        <img
            class="img"
            src="<%= imagePath %>"
            alt="image"
            data-image-id="<%= originalName %>"
        />
        <div
            class="border"
            style="
                left: calc(<%= (zoneX / cols) * 100 %>%);
                top: calc(<%= (zoneY / rows) * 100 %>%);
                width: calc(<%= (1 / cols) * 100 %>%);
                height: calc(<%= (1 / rows) * 100 %>%);
            "
        ></div>
    </div>
    <div class="data">
        <h3><%= originalName %></h3>
        <p>Coordinates of noisy zone: (<%= zoneX %>, <%= zoneY %>)</p>
        <p>Mean squared error: <%= err %></p>
        <p>size difference: <%= diff %></p>
    </div>
</div>
